---
import { Image, Picture } from "astro:assets";
import projects from "../../info.json";
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
import Project from "../components/ProjectCard.astro";
---

<Container title="Projects">
  <Main bgColor="#f2e8de">
    <div class="flex flex-col gap-6 overflow-y-auto p-6 w-auto">
      {
        projects.map((project, index) => {
          return (
            <div id={project.id}>
              <a href={project.projectGithubLink} target="_blank">
                <Project
                  title={project.title}
                  description={project.description}
                  index={index}
                  tags={project.tags}
                />
              </a>
            </div>
          );
        })
      }
    </div>
  </Main>
</Container>
